.nav{
  position: fixed;
  top: 0px;
  width: 100%;
  background: black;
  .nav-items{
    .nav-item{
      border: none;
      background: transparent;
      outline: none;
      color: white;
      height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      &:hover{
        color: #999;
        .nav-item-title{
          position: relative;
          &:after{
            background: #999;
            content:'';
            display: block;
            height: 3px;
            width: 100%;
            position: absolute;
            bottom: -5px;
          }
        }
      }
    }
  }
}