.nav{
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100%;
  background: $cdef;
  box-shadow: 0 4px 2px -3px black;
  .nav-items{
    .nav-item{
      border: none;
      background: transparent;
      outline: none;
      color: $clight;
      height: 50px;
      padding-left: 20px;
      padding-right: 20px;
      &:hover{

        .nav-item-title{
          position: relative;
          &:after{
            background: $clight;
            content:'';
            display: block;
            height: 3px;
            width: 100%;
            position: absolute;
            bottom: -5px;
          }
        }
      }
    }
  }
}