.section{
  overflow: hidden;
  min-height: calc(100vh - 50px);
  .section-header{
    font-size: 45px;
    text-align: center;
  }
  .title{
    margin: 10px 20px;
  }
  .icon{
    font-size: 35px;
    color: $cdef;
    &:before{
      line-height: 77px;
    }
  }
}

.intro{
  position: relative;
  .section-image{
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }
}