.section{
  overflow: hidden;
  min-height: calc(100vh - 50px);
}

.intro{
  position: relative;
  .section-image{
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }
}